DATABASE_URL="file:./dev.db"
NEXTAUTH_SECRET="your-nextauth-secret"
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_SITE_URL="http://localhost:3000"
PIXABAY_API_KEY="your-pixabay-api-key"
MYMEMORY_TRANSLATE_EMAIL="you@example.com"
NEXT_PUBLIC_GOOGLE_ADSENSE_CLIENT="ca-pub-1234567890123456"
